
body{
    font-family:'PT Serif', serif;
    font-size: 18px;
    line-height: 2.6;
    background: #545454;
    background-color: #fff;
    margin: 0;



}

.carousel-inner{
    margin-left: 15%;
    margin-top:-30%;
    margin-bottom:22%
}
.carousel-inner active{
   padding-top:30%
}
.madyalo{
    font-size: 3rem;
  
}
  
  

  
  

.navbar-brand span{
    color:#21564b;
    font-size:25px;
    font-family: 'Courier New', Courier, monospace
}
.navbar-brand{
    color:#fff;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.navbar-nav .nav-item .nav-link{
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;

}
.navbar-nav .nav-item-link:hover{
    color: rgb(25, 219, 83);
}


.navbar{
    background: #e0ebe8 !important;
}
.nav-link{
    color:#21564b !important;
}

.figure{
    width: 10px;
}

.home,right{
    padding-left: 10%;
    padding-top: 10px;
    margin-top: -38%;
  
}
.small left{
padding-top: 0px;


}
.small right{
    padding-left: 20%;
    margin-left: 30%;
    float: right;
 
}
.header-desc{
    text-align: center;
    color:#45b29a;
    padding: 1em;
    font-size: 2rem;
    font-weight: 400;
    
}
.content{
    text-align: center;
    padding-left: 25% ;
    margin-bottom: 10%;
}
.masthead-wrap{
    background: #e0ebe8;
}
.right-cloud{
    margin-top:5rem;
    margin-right: 4rem;
    padding-left: 9rem;

}
.left-cloud{
    margin-top:10rem;
}
.middle-cloud{
    /* margin-top:5rem;
    padding-left: -3%; */
    text-align: center;
    color:#fff;
    padding-top:10em;
}
.eb-a,
.eb-a:hover {
    color: #3e9b87;
    text-decoration: none;
}
.deets h3{
    color:#45b29a;
}
.deets {
    line-height: 2.6rem;
}
.title{
    font-size: 3rem;
    color: #21564b;
    padding-left: 25%;
}
.middle{
    font-size: 4rem;
    color: #21564b;
    text-align: center;
}
.middle, h3{
    color: #21564b;
    text-align: center;
}
.p{
    text-align: center;

}
.h6{
    padding-left: 0rem;
    font-size: 2rem;
}
.text-center h6{
    padding-left: 20rem;
    font-size: 1rem;
}
.bottom{
    margin-left: 10rem;
}

.li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size:20px;
    padding: 20px 20px;
    color: #fff;
    border:1px solid #fff;
    border-radius: 50%;
    transition: .5s;
}
/* .bottom p{
   font-size: 16px;
   float: left;
    background: #e0ebe8 !important;   
    color: white;
     margin: 10%;
   padding-right: 16px;
   height: 20%;
   
}
.bottom{
    background: #0bf3c5;
} */
.footer{
    background-color: #E0EBEB !important;
    width: 100%;
  

}
.footer,header, h5{
 
    float: left;
    padding-left: 12%;
    color: #21564b;
    padding-top: 10px; 
    
}
.bubble{
    display: flex;
}
.bubble div{
    margin: 10px;
}




/* 
<!--work.html-!> */


.work-wrap{
    background-color: #e0ebe8;
}
.para{
    text-align: center;

}
.contant{
    background-color: #7dcc93;
    width: 100%

}
.table{
    padding-top:45px;
    color: white;
    font-size:20px;
   

   
}
.main-button{
    background: #2b3d51;
    color:#fff;
    margin-left: 25%;
    border-radius: 10px;
}
.adam{
    background: #f76160;
    width: 100%;
    color: #fff;
}
.dot{

}
.origami{
    background:#31355b;
    color: #fff; 
}
.journey{
    background: #f8c687;
    color: #fff;
}
.time{
    
    color: #a7e0f3;
    font-size: 18px;
}
.realtii{
    background:#e29470; 
    color: #fff;
}
.trizic{
    background: #66A7D5;
    color: #fff;
}
.retrolove{
    background: #fa6d68;
    color: #fff;
}
.Textking{
    background: #679895;
    color: #fff;
}





/* notes.html */
/* 
.customer{
    background: #e0ebe8;
} */
.right{
    margin-left: 27rem;
}
.best{
    margin-left:20rem;
}


.fa:hover{
    /* text-align: center; */
    text-decoration: none;
    color: white;
    
}

.fa-facebook{
    font-size: 25px;
    background: #3b5998;
    color: white; 
    border-radius: 50%;
    padding: 15px;  
    text-align: center; 
    text-decoration: none; 
    margin: 1px ;
    font-size: 25px;
  
}
.fa-twitter{
    font-size: 25px;
    background:#55acee;
    color: white; 
    border-radius: 50%;
    padding: 15px;  
    text-align: center; 
    text-decoration: none; 
    margin: 1px ;
}
.fa-google{
    
    font-size: 25px;
    background: #dd4b39;
    border-radius: 50%;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin: 1px ;
}
.li{
    padding:10px;
}

.winter{
padding-left: 12rem;
}

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}



